
// animation for down arrow: 
@keyframes slowBob {
    0% {
        transform: translateY(0) translateX(-50%);
    }
    50% {
        transform: translateY(10px) translateX(-50%);
    }
}

// establish animation for morphing blobs:
@keyframes morph {
    25% {
        transform: translateY(2px) rotate(1deg)
    }
    50% {
        border-radius: 80% 60% 70% 40%/70% 80% 50% 60%;
        transform: translateY(0px) rotate(0deg)
    }
    75% {
        transform: translateY(2px) rotate(1deg)
    }
}

// PLEASE CONSIDER --- stretch goal --- blobs jiggle on click