.headerNav {
    .menuIcon {
        position: absolute;
        transition: 0.5s;
        top: 5px;
        right: 3%;
        padding: 20px;
        z-index: 35;
        border: none;
        background-color: transparent;
        .hamburgerMenuIcon {
            width: 60px;
            height: 35px;
            position: relative;
            margin: 0 auto;
            transform: rotate(0deg);
            transition: .5s ease-in-out;
            cursor: pointer;
            &.open {
                position: fixed;
                top: 25px;
                right: calc(3% + 20px);
                span {
                    position: fixed;
                    &:nth-child(1) {
                        top: 18px;
                        width: 0%;
                        left: 50%;
                    }
                    &:nth-child(2) {
                        transform: rotate(45deg);
                    }
                    &:nth-child(3) {
                        transform: rotate(-45deg);
                    }
                    &:nth-child(4) {
                        top: 15px;
                        width: 0%;
                        left: 50%;
                    }
                }
            }
        }
        .hamburgerMenuIcon span {
            display: block;
            position: absolute;
            height: 4px;
            width: 100%;
            background: $white;
            border-radius: 9px;
            opacity: 1;
            left: 0;
            transform: rotate(0deg);
            transition: .25s ease-in-out;
            &:nth-child(1) {
                top: 0px;
            }
            &:nth-child(2), &:nth-child(3) {
                top: 15px;
            }
            &:nth-child(4) {
                top: 30px;
            }
        }
    }
    ul {
        background: $darkPrimary;
        position: fixed;
        z-index: 30;
        width: 0;
        height: 0;
        top: 0;
        right: 0;
        opacity: 0;
        border-radius: 50%;
        transition: 0.5s;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        a {
            display: inline-block;
            font-size: 40px;
            width: 100%;
            padding: 20px 5%;
            opacity: 0;
            transition: 0.3s;
        }
        &.open {
            opacity: 1;
            border-radius: 0;
            width: 100%;
            height: 100%;
            transition: 0.5s;
            a {
                opacity: 1;
                transition: 0.8s;
            }
        }
    }
}