@supports (background: -webkit-named-image(i)) {
    // HEADER --- 
    header {
        .heroHeader {
            .imgContainer {
                .stylingElement {
                    &::before {
                        width: 50%;
                        bottom: -20%;
                        transform: rotate(10deg) perspective(200px) rotateY(0);
                    }
                }
            }
            .bubble1 {
                height: 40%;
                transform: rotate(7deg) perspective(1000px) rotateY(0);
                border-radius: 30% 30% 30% 30%/40% 40% 90% 80%;
                &::before {
                    content: none;
                }
                &::after {
                    content: none;
                }
                .stylingElement {
                    &::before {
                        content: none;
                    }
                    &::after {
                    width: 50%;
                    height: 50%;
                    bottom: -55%;
                    left: 30%;
                    border-radius: 40% 70% 60% 30%/40% 40% 40% 30%;
                }
                }
            }
        }
        .scrollDown {
            padding-right: 3rem;
        }
    }
}