html {
    font-size: 125%;
    font-family: $bodyFont;
    color: $white;
}

h1, h2, h3 {
    font-family: $headerFont;
}

h1 {
    color: $white;
    font-size: clamp(3rem, 16vw, 12rem);
    line-height: clamp(3rem, 16vw, 12rem);
}

h2 {
    color: $white;
    position: absolute;
    font-size: 1.8rem;
    top: 20px;
}
h3 {
    &.intro {
        font-size: 3rem;
        font-weight: 300;
        line-height: 2rem;
    }
}

p {
    max-width: 70ch;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 0.05rem;
    padding: 30px 0 20px;
    &.jobTitle {
        font-size: clamp(0.9rem, 2.6vw, 1.9rem);
        line-height: 0.8rem;
        text-align: right;
        padding: 0;
    }
}

a {
    color: $white;
    &.nav {
        font-size: 1.2rem;
        text-shadow: 1px 1px $darkPrimary;
    }
    &.contactButton {
        font-size: 1.4rem;
        font-family: $headerFont;
        transition: 0.8s;
    }
}