// establish colour palette
$white: rgb(236, 241, 243);
$darkPrimary: #2a2c2e;
$darkSecondary: #2f3335;
$darkTertiary: #484d50;
$accentOne: rgb(154, 194, 201);
$accentTwo: rgb(209, 151, 178);
$accentThree: rgb(236, 225, 173);
// establish secondary colour palette for light mode

// establish base font styles
$headerFont: 'Urbanist', sans-serif;
$bodyFont: 'Poppins', sans-serif;