html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  padding-left: 0;
  list-style: none;
}

h1, h2, h3, h4, a, ul, li, p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
  max-width: 1200px;
}

html {
  font-size: 125%;
  font-family: "Poppins", sans-serif;
  color: #ecf1f3;
}

h1, h2, h3 {
  font-family: "Urbanist", sans-serif;
}

h1 {
  color: #ecf1f3;
  font-size: clamp(3rem, 16vw, 12rem);
  line-height: clamp(3rem, 16vw, 12rem);
}

h2 {
  color: #ecf1f3;
  position: absolute;
  font-size: 1.8rem;
  top: 20px;
}

h3.greeting {
  font-size: 4rem;
  font-family: "Bad Script", cursive;
}
h3.intro {
  font-size: 3rem;
  font-weight: 300;
  line-height: 2rem;
}

p {
  max-width: 70ch;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
  padding: 30px 0 20px;
}
p.jobTitle {
  font-size: clamp(0.9rem, 2.6vw, 1.9rem);
  line-height: 0.8rem;
  text-align: right;
  padding: 0;
}

a {
  color: #ecf1f3;
}
a.nav {
  font-size: 1.2rem;
  text-shadow: 1px 1px #2a2c2e;
}
a.contactButton {
  font-size: 1.4rem;
  font-family: "Urbanist", sans-serif;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

@-webkit-keyframes slowBob {
  0% {
    -webkit-transform: translateY(0) translateX(-50%);
            transform: translateY(0) translateX(-50%);
  }
  50% {
    -webkit-transform: translateY(10px) translateX(-50%);
            transform: translateY(10px) translateX(-50%);
  }
}

@keyframes slowBob {
  0% {
    -webkit-transform: translateY(0) translateX(-50%);
            transform: translateY(0) translateX(-50%);
  }
  50% {
    -webkit-transform: translateY(10px) translateX(-50%);
            transform: translateY(10px) translateX(-50%);
  }
}
main {
  position: relative;
}
main .stickyScroll {
  position: sticky;
  top: 90vh;
  left: 0;
  right: 0;
  z-index: 5;
}
main .stickyScroll .scrollUp {
  right: 5%;
  color: #ecf1f3;
  opacity: 0.5;
  position: absolute;
  font-size: 0.5rem;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
main .stickyScroll .scrollUp .fa-chevron-up {
  right: 5%;
  color: #ecf1f3;
  position: absolute;
  font-size: 3rem;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
main .stickyScroll .scrollUp:hover {
  opacity: 1;
}
main .stickyBackground {
  position: absolute;
  height: 100%;
  left: 0;
  right: 0;
}
main .stickyBackground .wrapper {
  position: sticky;
  top: 0;
  margin-bottom: 850px;
}
main .stickyBackground .wrapper .floatingBubble {
  position: absolute;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
main .stickyBackground .wrapper .bubble2 {
  width: 120px;
  height: 80px;
  background-color: transparent;
  border: 3px solid #d197b2;
  border-radius: 20% 30% 30% 40%/70% 40% 90% 60%;
  top: 5vh;
  right: -5%;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}
main .stickyBackground .wrapper .bubble3 {
  width: 200px;
  height: 120px;
  background-color: transparent;
  border: 3px solid #d197b2;
  border-radius: 20% 30% 30% 40%/70% 40% 90% 60%;
  top: 35vh;
  right: -3%;
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
}
main .stickyBackground .wrapper .bubble4 {
  width: 120px;
  height: 120px;
  background-color: transparent;
  border: 3px solid #d197b2;
  border-radius: 20% 30% 30% 40%/70% 40% 90% 60%;
  top: 20vh;
  left: -5%;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}
main .stickyBackground .wrapper .bubble5 {
  width: 240px;
  height: 160px;
  background-color: transparent;
  border: 3px solid #d197b2;
  border-radius: 20% 30% 30% 40%/70% 40% 90% 60%;
  top: 48vh;
  left: 40%;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
}
main .stickyBackground .wrapper .bubble6 {
  width: 120px;
  height: 80px;
  background-color: transparent;
  border: 3px solid #d197b2;
  border-radius: 20% 30% 30% 40%/70% 40% 90% 60%;
  top: 15vh;
  left: 50%;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}
main .stickyBackground .wrapper .bubble7 {
  width: 160px;
  height: 180px;
  background-color: transparent;
  border: 3px solid #d197b2;
  border-radius: 20% 30% 30% 40%/70% 40% 90% 60%;
  top: 60vh;
  left: -5%;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
}
main .stickyBackground .wrapper .bubble8 {
  width: 240px;
  height: 140px;
  background-color: transparent;
  border: 3px solid #d197b2;
  border-radius: 20% 30% 30% 40%/70% 40% 90% 60%;
  top: 75vh;
  right: 5%;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

header {
  min-height: 100vh;
  position: relative;
}
header .mainNav {
  margin: 20px auto;
  height: 80px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .mainNav .logo {
  height: 100px;
  position: relative;
}
header .mainNav .logo img {
  height: 100%;
}
header .mainNav .logo::before {
  position: absolute;
  content: "";
  border-radius: 70% 30% 60% 40%/30% 50% 50% 60%;
  width: 60px;
  height: 80px;
  background-color: transparent;
  left: 7px;
  top: 6px;
  z-index: -5;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
  -webkit-transition: 1s;
  transition: 1s;
}
header .mainNav .logo:hover::before, header .mainNav .logo:focus::before {
  background-color: #9ac2c9;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
}
header .mainNav .mainNavList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 400px;
  width: 50%;
}
header .mainNav .mainNavList a {
  width: 80px;
  position: relative;
  text-align: center;
}
header .mainNav .mainNavList a::before {
  position: absolute;
  content: "";
  width: 80%;
  height: 100%;
  background-color: transparent;
  border: 2px solid #d197b2;
  border-radius: 20% 30% 30% 40%/70% 40% 90% 60%;
  left: 50%;
  margin-left: -40%;
  z-index: -5;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
header .mainNav .mainNavList a:hover::before, header .mainNav .mainNavList a:focus::before {
  background-color: #d197b2;
  border-radius: 80% 20% 60% 20%/40% 70% 30% 40%;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
header .mainNav .mainNavList .aboutLink::before {
  border-radius: 30% 30% 40% 40%/70% 40% 90% 60%;
}
header .mainNav .mainNavList .projectLink::before {
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
}
header .heroHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: calc(100vh - 120px);
  width: 100%;
}
header .heroHeader .imgContainer {
  width: 30%;
  max-height: 455px;
  min-width: 240px;
  margin-top: 10vh;
  position: relative;
  bottom: 40%;
  left: 30px;
}
header .heroHeader .imgContainer::before {
  content: "";
  left: -20px;
  min-width: 300px;
  height: 70%;
  width: 150%;
  top: 40%;
  z-index: -10;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
  border-radius: 70% 50% 40% 60%/60% 70% 50% 60%;
  background-color: #9ac2c9;
  position: absolute;
  -webkit-box-shadow: 40px -20px 0 #2a2c2e, -30px 10px 0 #2a2c2e, -40px -20px 0 #2a2c2e, -43px -22px 0 #ecf1f3;
          box-shadow: 40px -20px 0 #2a2c2e, -30px 10px 0 #2a2c2e, -40px -20px 0 #2a2c2e, -43px -22px 0 #ecf1f3;
}
header .heroHeader .imgContainer .stylingElement {
  width: 100%;
  height: 100%;
}
header .heroHeader .imgContainer .stylingElement::before {
  content: "";
  position: absolute;
  width: 60%;
  height: 20%;
  border: 3px solid #ecf1f3;
  bottom: -25%;
  -webkit-transform: rotate(0deg) perspective(200px) rotateY(45deg);
          transform: rotate(0deg) perspective(200px) rotateY(45deg);
  border-radius: 10% 40% 20% 20%/20% 45% 30% 80%;
  left: 0;
}
header .heroHeader .imgContainer .stylingElement::after {
  content: "";
  position: absolute;
  width: 10%;
  height: 8%;
  border: 2px solid #ecf1f3;
  bottom: -17%;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
  left: 60%;
  border-radius: 40% 70% 60% 30%/40% 40% 40% 30%;
}
header .heroHeader .textContainer {
  -ms-flex-item-align: start;
      align-self: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 80%;
  position: relative;
  top: 15%;
  padding-right: 40px;
}
header .heroHeader .textContainer h1 {
  width: 5.5ch;
}
header .heroHeader .bubble1 {
  position: absolute;
  height: 30%;
  width: 55%;
  top: 10%;
  right: -30px;
  z-index: -10;
  -webkit-transform: rotate(7deg) perspective(1000px) rotateY(-45deg);
          transform: rotate(7deg) perspective(1000px) rotateY(-45deg);
  border-radius: 80% 30% 30% 30%/40% 40% 90% 80%;
  background-color: #d197b2;
}
header .heroHeader .bubble1::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 30%;
  border: 4px solid #ecf1f3;
  top: 10%;
  left: -10%;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  border-radius: 70% 40% 20% 20%/40% 40% 80% 80%;
}
header .heroHeader .bubble1::after {
  content: "";
  position: absolute;
  width: 10%;
  height: 8%;
  border: 2px solid #ecf1f3;
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
  top: 50%;
  left: 30%;
  border-radius: 40% 70% 60% 30%/40% 40% 40% 30%;
}
header .heroHeader .bubble1 .stylingElement {
  position: absolute;
  height: 40%;
  width: 40%;
  top: 15%;
  right: -5%;
  z-index: -10;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
  background-color: #ece1ad;
  border-radius: 80% 80% 40% 90%/70% 90% 70% 90%;
}
header .heroHeader .bubble1 .stylingElement::before {
  content: "";
  position: absolute;
  width: 120%;
  height: 60%;
  border: 4px solid #ecf1f3;
  bottom: -110%;
  left: -35%;
  -webkit-transform: rotate(0deg) perspective(700px) rotateY(-60deg);
          transform: rotate(0deg) perspective(700px) rotateY(-60deg);
  border-radius: 10% 10% 20% 20%/20% 20% 40% 80%;
}
header .heroHeader .bubble1 .stylingElement::after {
  content: "";
  position: absolute;
  width: 20%;
  height: 30%;
  border: 2px solid #ecf1f3;
  -webkit-transform: rotate(12deg) rotateY(180deg);
          transform: rotate(12deg) rotateY(180deg);
  bottom: -70%;
  left: -35%;
  border-radius: 40% 70% 60% 30%/40% 40% 40% 30%;
}
header .scrollDown {
  position: absolute;
  -webkit-transition: padding 0.5s, background-color 0.5s, -webkit-transform 0.2s;
  transition: padding 0.5s, background-color 0.5s, -webkit-transform 0.2s;
  transition: padding 0.5s, background-color 0.5s, transform 0.2s;
  transition: padding 0.5s, background-color 0.5s, transform 0.2s, -webkit-transform 0.2s;
  bottom: 5vh;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #2a2c2e;
  padding: -30px;
  border-radius: 50%;
  -webkit-animation: slowBob 1.4s infinite linear;
          animation: slowBob 1.4s infinite linear;
}
header .scrollDown .fa-chevron-down {
  color: #ecf1f3;
  font-size: 3rem;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
header .scrollDown:hover .fa-chevron-down, header .scrollDown:focus .fa-chevron-down {
  font-size: 3.3rem;
}

section {
  padding-top: 70px;
  position: relative;
}
section .flexContainer {
  padding: 40px;
  z-index: 10;
}

.about .wrapper .flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 50px;
  background-color: #2f3335;
  border-radius: 16px;
  -webkit-box-shadow: -2px -2px 0 #484d50;
          box-shadow: -2px -2px 0 #484d50;
}
.about .wrapper .flexContainer .buttonContainer {
  position: relative;
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 10px 30px;
}
.about .wrapper .flexContainer .buttonContainer::before {
  content: "";
  z-index: 15;
  position: absolute;
  border: 3px solid #9ac2c9;
  border-right: 3px solid transparent;
  border-radius: 50px;
  top: 0;
  left: 15px;
  height: 52px;
  width: 52px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
.about .wrapper .flexContainer .buttonContainer:hover::before, .about .wrapper .flexContainer .buttonContainer:focus-within::before {
  right: 10px;
  width: 175px;
  border-right: 3px solid #9ac2c9;
  background-color: #9ac2c9;
}
.about .wrapper .flexContainer .buttonContainer:hover .contactButton, .about .wrapper .flexContainer .buttonContainer:focus-within .contactButton {
  color: #2f3335;
}
.about .wrapper .flexContainer .buttonContainer .contactButton {
  position: relative;
  z-index: 25;
}

.skills .wrapper .flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #2f3335;
  border-radius: 16px;
  -webkit-box-shadow: -2px -2px 0 #484d50;
          box-shadow: -2px -2px 0 #484d50;
}

.projects {
  position: relative;
}
.projects .flexContainer {
  padding: 0;
}
.projects .flexContainer h2 {
  padding-left: 40px;
}
.projects .flexContainer .projectsList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.projects .flexContainer .projectsList .projectCard {
  -ms-flex-preferred-size: calc(50% - 20px);
      flex-basis: calc(50% - 20px);
  background: #34383a31;
  -webkit-box-shadow: 0px 1px 5px rgba(20, 20, 21, 0.5);
          box-shadow: 0px 1px 5px rgba(20, 20, 21, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 16px;
  cursor: pointer;
  text-align: center;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  margin-bottom: 40px;
}
.projects .flexContainer .projectsList .projectCard .cardFront,
.projects .flexContainer .projectsList .projectCard .cardBack {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.projects .flexContainer .projectsList .projectCard .cardFront {
  padding: 40px 40px 120px 40px;
  border-radius: 16px;
  border-top: 2px solid rgba(255, 255, 255, 0.1);
  border-left: 2px solid rgba(255, 255, 255, 0.1);
  width: 100%;
  height: 100%;
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
}
.projects .flexContainer .projectsList .projectCard .cardBack {
  padding: 40px;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  border-top: 2px solid rgba(255, 255, 255, 0.1);
  border-left: 2px solid rgba(255, 255, 255, 0.1);
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  position: absolute;
  text-align: center;
  right: 0;
  left: 0;
}
.projects .flexContainer .projectsList .projectCard:hover, .projects .flexContainer .projectsList .projectCard:focus {
  -webkit-box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.6);
  background: #2f333575;
}
.projects .flexContainer .projectCard.flip {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

footer .contact {
  margin: none;
}
footer .contact .flexContainer {
  padding: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer .contact .flexContainer h2 {
  margin-left: 40px;
}
footer .contact .flexContainer .formContainer {
  width: 50%;
}
footer .contact .flexContainer .imgContainer {
  width: 40%;
  margin-right: -5%;
}

html {
  background-color: #2a2c2e;
}